[submodule "3DGS_PoseRender"]
	path = 3DGS_PoseRender
	url = https://github.com/guaMass/3DGS_PoseRender.git
[submodule "patchnetvlad"]
	path = patchnetvlad
	url = https://github.com/QVPR/Patch-NetVLAD.git
